@CHARSET "UTF-8";

.flow-entry {
	max-width: 420px;
	height: 300px;
	border: 1px solid black;
	background-color: #72b577;
	margin: 10px auto;
}

.flow-entry:last-child {
	margin-bottom: 60px;
}

.food-image {
	height: 260px;
	width: 100%;
	
	background-size: cover !important;
	background-position: center center !important;
	margin-bottom: 10px;
}


.flow-entry .score {
	margin-right: 10px;
}

.title {
	margin-left: 10px;
	width: 300px;
}

.scores {
	float: right;
}



