@CHARSET "UTF-8";

.flow-entry {
	max-width: 420px;
	height: 300px;
	border: 1px solid black;
	background-color: #72b577;
	margin: auto;
}

.food-image {
	height: 260px;
	width: 100%;
	
	background-size: cover !important;
	background-position: center center !important;
}

.flow-entry .plus {
	margin-left: 210px;
}

.flow-entry .score {
	margin-top: 10px;	
}

.title {
	margin-left: 10px;
}
